@import "../scssIndex/index.scss";

.imgMain {
  @include tablet{
    margin-bottom: 70px;
  }
  @include mobile{
    margin: 40px 20px;
    width: 100%;
    height: 50vw;
  }
  width: 550px;
  height: 500px;
  & img {
    @include miniMobile{
      width: 100%;
      height: 50vw;
      object-position: center center;
    }
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.listImg {
  @include miniMobile{
    display: none;
  }
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  & img {
    width: 100px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }
}

.borderImage {
  border: 4px solid $BrownColor1;
}
